{% extends "layout.html" %}

{% block title %}Home - Milk Store{% endblock %}

{% block content %}
<h1 class="text-center mb-4"">FOREVER-© </h1>
<input class="search" type="text" id="searchInput" placeholder="Search products..." onkeyup="searchProducts()">
   
<div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container" >
                            <img src="{{ product.image }}" style="display: inline;" class="card-img-top" alt="Product Image">
                            <h5> {{ product.description }}</h5>
                        </div>
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: {{ product.price }} Dhs</p>

                        {% if 'user' in session and session['role'] == 'user' %}
                            <a href="{{ url_for('buy_product', product_id=product._id) }}" class="btn btn-primary">Buy</a>
                        
                        {% elif 'user' in session and session['role'] == 'admin' %}
                            <a href="{{ url_for('update_product', product_id=product._id) }}" class="btn btn-success">Edit</a>
                            <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn btn-danger">Delete</a>
                        
                        {% else %}
                         <!-- WhatsApp Buy Button -->
                          <a href=" {{ url_for('save_personal_info')}}" target="_blank" class="btn btn-primary">Send ORDER</a>
                            <a href="https://api.whatsapp.com/send?phone=21269881509&text=Je%20veux%20achete%20{{ product.name }}%20avec%20{{ product.price }}Dhs%20."
                                target="_blank" class="whatsapp-button">
                                Buy
                            </a>
                         {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <script>
        function searchProducts() {
            let input = document.getElementById("searchInput").value.toLowerCase();
            let productCards = document.querySelectorAll(".card-body");
        
            productCards.forEach(function(card) {
                let productName = card.querySelector(".card-title").innerText.toLowerCase();
                let productDescription = card.querySelector(".card-img-top").innerText.toLowerCase();
        
                if (productName.includes(input) || productDescription.includes(input)) {
                    card.style.display = "block"; // Show matching products
                } else {
                    card.style.display = "none"; // Hide non-matching products
                }
            });
        }
        </script>
{% endblock %}
