{% extends "layout.html" %}

{% block title %}Home - Milk Store{% endblock %}

{% block content %}
    <h2 class="text-center mb-4"">Welcome to Milk Store 🥛</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ product.image }}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        {% if 'user' in session and session['role'] == 'user' %}
                            <a href="{{ url_for('buy_product', product_id=product._id) }}" class="btn btn-primary">Buy</a>
                        {% endif %}
                        {% if 'user' in session and session['role'] == 'admin' %}
                            <a href="{{ url_for('update_product', product_id=product._id) }}" class="btn btn-warning">Edit</a>
                            <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn btn-danger">Delete</a>
                        {% endif %}
                         <!-- WhatsApp Buy Button -->
                <a href="https://api.whatsapp.com/send?phone=212698815095&text=I%20want%20to%20buy%20{{ product.name }}%20for%20${{ product.price }}."
                    target="_blank" class="whatsapp-button">
                    Buy on WhatsApp
                    </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
