{% extends "layout.html" %}

{% block title %}Login - FOREVER-© {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center">Login</h2>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" id="password" class="form-control" name="password" required>
                            <button type="button" class="btn btn-outline-secondary" style="border: none;"" onclick="togglePassword()">👁️</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <p class="text-center mt-3">You need to have an account! <a href="{{ url_for('home') }}">Home</a></p>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        let passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
<script>
    // This will prevent the user from going back to any previous pages after logout
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>
{% endblock %}
