{% extends "layout.html" %}

{% block title %}Update Product - Milk Store{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center">Update Product</h2>
                <form method="POST" enctype="multipart/form-data">
                    <label for="name">Product Name:</label>
                    <input type="text" name="name" value="{{ product.name }}" required>
                
                    <label for="price">Price:</label>
                    <input type="text" name="price" value="{{ product.price }}" required>
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="description" placeholder="Enter product description..." rows="4" cols="37"></textarea><br>
                    <label>Current Image:</label>
                    <img src="{{ url_for('static', filename=product.image.split('static/')[-1]) }}" alt="Product Image" width="150" style="border-radius: 20px;"><br>
                
                    <label for="image">Upload New Image:</label>
                    <input type="file" name="image" style="border-radius: 15px; background-color: beige;">
                
                    <button type="submit" class="update-btn">Update Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
